{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Create Product</h2>
    <form method="post">  <!-- Asegúrate de que el método sea POST -->
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_description">Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_price">Price</label>
            {{ form.price }}
        </div>
        <div class="form-group">
            <label for="id_category">Category</label>
            {{ form.category }}
        </div>
        <div class="form-group">
            <label for="id_code">Product Code</label>
            {{ form.code }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{% url 'admin_products' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
